<div class="row">
    <div class="col-md-8 col-lg-6">
        <ng-select #selectProduct [items]="products" [searchable]="false" [(ngModel)]="productID" bindLabel="productName"
            bindValue="id"  (change)="takeAction(productID)" placeholder="Select or add new product">
            <ng-template ng-header-tmp>
                <div class="input-group mb-3">
                    <input class="form-control" type="search" (input)="selectProduct.filter($any($event.target).value)"
                    placeholder="Search products" />
                    <button class="btn position-absolute end-0 border-0">
                        <img [src]="searchIcon"></button>
                  </div>
                  <div>
                    <button class="btn border-0 px-0 w-100 text-start" routerLink="product">
                        <img width="12" class="me-1" src="../../../../assets/plus.svg">
                        Add new product
                    </button>
                  </div>
               
            </ng-template>

        </ng-select>

    </div>
</div>